aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 230px;
    margin-bottom: 90px;
    background-color: black;
    color: #717171;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
        /* background-color: thistle; */
}

aside .logo{
    height: 40px;
    margin: 15px 0 20px 0;
}
aside .logo img{
    height: 100%;
    width: auto;
}

aside .side_menu h3{
    font-size: 14px;
    line-height: 30px;
    padding: 0 0 10px 35px;
}
aside li:hover h3 {
    color: #d2d2d2;
}
aside ul .option {
    background-size: 60px 65px;
    background-position: -12px -20px;
    background-repeat: no-repeat;
}

aside #home:after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    top: 73px;
    left: 0%;
    height: 37px;
    width: 3px;
    background-color: #adff2f;
  }
aside ul #home{
    background-image: url("../img/aside/home_9.svg");
    /* background-color: lightgoldenrodyellow; */
}
aside ul #search{
    background-image: url("../img/aside/search_2.svg");
}
aside ul #library{
    background-image: url("../img/aside/library_2.svg");
}

/* Playlist */
aside h2{
    color: white;
    text-transform: uppercase;
    height: 10px;
    font-size: 16px;
    margin: 15px 0 20px 0;
}

/* nuova playlist */
aside .new_playlist{
    margin-bottom: 10px;
}
aside .square_plus {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 37px;
    width: 37px;
    background-color: #a3a3a3;
}
aside .fa-plus {
    position: absolute;
    top: 30%;
    left: 30%;
    color: black;
}
aside .playlist h3{
    display: inline-block;
    text-transform: capitalize;
    margin-left: 10px;
    font-size: 15px;
}

/* playlist list*/
.playlist .playlist_list{
    overflow: auto;
}
.playlist_list li{
    line-height: 34px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

/* bottom part */
/* download */ 
aside .bottom_aside{
    position: absolute;
    bottom: 0px;
}

aside .install_app p {
    background-image: url("../img/aside/download.svg");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-size: contain;
    padding-left:20px ;
}
aside .install_app::after{
    content: "";
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    margin-top: 10px;
    background-color: currentColor;
}
/* user */
aside .bottom_aside{
    padding: 10px 0px;
}
aside .user{
    margin: 10px 0 5px 0;
}
aside .profile_pic {
    height: 30px;
    width: 30px;
    background-color: lightblue;
    border-radius: 50%;
}
aside .profile_pic, 
aside .user p{
    display: inline-block;
    vertical-align: middle;
}
aside .profile_pic img {
    width: 100%;
    height: auto;
}

/* !      RESPONSIVE:                    */
/* !  approccio mobile first             */
/* !  XS =  552px                        */
/* !  S  =  639px                        */
/* !  M  =  878px                        */
/* !  L  =  1440px                       */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/*  XS = 552 px approccio mobile first*/
@media screen and  (max-width:552px) {
    aside {
        background-color: lightskyblue;
        width: 50px;
        padding: 0;
        margin: 0;
    }
    aside .big_aside,
    aside #home::after {
        display: none;
    }
    aside .small_aside{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        justify-content: space-between;
        align-items: center; 
        background-color: black;
        width: 100%;
        height: calc(100% - 90px);
        padding: 5px 10px;
    }
    aside .top_part_xs .img_xs_logo{
        margin: 5px 0;
    }
    aside .top_part_xs .img_menu_xs img {
        transform: scale(1.8) ;
        /* filter to make #a3a3a3*/
        filter: invert(60%) sepia(58%) saturate(0%) hue-rotate(228deg) brightness(97%) contrast(90%);
    }
    aside .top_part_xs a#logo_xs{
        transform: scale(1.35);
    }
    aside .top_part_xs .img_menu_xs #home{
        transform: scale(1.3);
        /* trasforma #a3a3a3 in #d2d2d2 */
        filter: invert(64%) sepia(90%) saturate(0%) hue-rotate(237deg) brightness(122%) contrast(75%);
    }
    aside .top_part_xs a{
        display: block;
        padding: 10px 0 5px 0 ;
    }
    aside .small_aside img{
        width: 100%;
        height: 23px;
    }
    aside .bottom_part_xs a#download img{
        transform: scale(0.8);
    }
    aside .bottom_part_xs a#profile img{
        background-color: lightskyblue;
        height: 30px;
        width: auto;
        border-radius: 50%;
    }

}

 /* da S in poi */
@media screen and  (min-width:553px) {
    aside .small_aside{
        display: none;
    }
}
@media screen and (max-height:668px){
    aside .bottom_aside{
        display: none;
    }
}