footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #282828;
}


/* !      RESPONSIVE:                    */
/* !  approccio mobile first             */
/* !  XS =  552px                        */
/* !  S  =  639px                        */
/* !  M  =  878px                        */
/* !  L  =  1440px                       */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/*  XS = 552 px approccio mobile first*/
@media screen and  (max-width:552px) {
    body{
        background-color: teal;
    }
}

/*  S = 639 */
@media screen and  (max-width:639px) {
    body{
        background-color: greenyellow;
    }
}

/*  M = 878px*/
@media screen and  (max-width:878px) {
    body{
        background-color: purple;
    }
}

/*  L = 1440 */
@media screen and  (max-width:1440px) {
    body{
        background-color: khaki;
    }
}