footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #282828;
        /* background-color: turquoise; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ????????????????????? parte sinistra */
footer .player_left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        /* background-color: royalblue; */
}
footer .song_info #song_title{
    font-size: 14px;
    font-weight: bold;
    color: white;
}
footer .song_cover {
    width: 45px;
    height: 45px;
    min-width: 35px;
    margin: 10px;
}
footer .song_cover img{
    width: 100%;
    height: auto;
}
footer .song_info #song_author{
    /* font shorthand: font-weight font-size / line height */
    font-size: 12px;
    font-weight: normal ;
    color: #878787;
}
footer .song_action{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
        /* border: springgreen 3px solid; */
}
footer .song_action i {
    margin: 10px 5px 10px 15px;
}

/* !!!!!!!!!!!!! effetti player_left */
footer .player_left .song_action .save_song:hover i,
footer .player_left .song_action .folder:hover i {
    color: #adff2f;
}
.save_song .active{
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}
.save_song:active .active{
    visibility: visible;
}
.song_action .folder, 
.song_action .save_song{
    cursor: pointer;
}

/* ????????????????????? parte centrale */
footer .player_middle{
    width: 50%;
    padding-top: 10px;
        /* background-color: red; */
}
footer .fas, footer .far{
    color: white;
    /* background-color: red; */
}
footer .upper_player {
    text-align: center;
    margin: 0 0 10px 0;
    color: white;
}
footer .upper_player ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    line-height: 25px;
    margin: 10px 10px 0 10px;
}
footer .upper_player .fa-play-circle{
    transform: scale(2);
}
footer .upper_player li .fa-step-backward{
    overflow-x: hidden;
}
footer .upper_player .fa-step-backward:hover,
footer .upper_player .fa-step-forward:hover{
    animation-name: slide;
    animation-duration: 2300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes slide {
    0% {
      transform: translateX(0px);
    }
    25% {
        transform: translateX(8px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(-8px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
footer .upper_player .fa-play-circle:hover {
    animation-name: pulse;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes pulse {
    0% {
        transform:scale(2);
    }
    25% {
        transform:scale(2.5);
    }
    50% {
        transform:scale(2);
    }
    75% {
        transform:scale(1.5);
    }
    100% {
        transform:scale(2);
    }
}
/* Ruota l'icona "ripeti" */
footer .upper_player .fa-redo-alt:hover {
    animation-name: spin;
    animation-duration: 2300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/* flippa lungo la x l'icona randomize */
footer .upper_player .fa-random:hover {
    animation-name: flipY;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes flipY {
    0% {
       transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    100% {
       transform: rotateX(0deg);
    }
 } 

footer .lower_player {
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
}
footer .player_middle .lower_player small,
footer .player_middle .lower_player .progression{
    display: inline-block;
    vertical-align: middle;
}
footer .player_middle .lower_player small{
    width: 25px;
    font-size:12px;
    margin: 0 15px;
    color: white;
}
footer .progression{
    height: 8px;
    position: relative;
}
footer .progression p{
    visibility: hidden;
}
footer .player_middle .progression{
    position: relative;
    line-height: 5px;
    background-color: #5a5a5a;
    width: calc(100% - 150px);
    margin: auto;
    padding: 0 10px;
    border-radius: 3px;
}
footer .player_middle .progression::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    background-color: #c1c1c1;
    border-radius: 3px;
}


/* !!!!!!!!!!!! Effetti player_middle */
footer .player_middle .upper_player li:hover i{
    color: #adff2f;
}
footer .player_middle .lower_player:hover .progression::before{
    background-color: #adff2f;
}
footer .player_middle .lower_player:hover .progression::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    height: 8px;
    width: 8px;
    z-index: 5;
    transform: scale(1.75);
    background-color: greenyellow;
    border-radius: 50%;
    -webkit-box-shadow: -2px 0px 4px 0px rgba(51, 101, 71, 0.75);
    -moz-box-shadow:    -2px 0px 4px 0px rgba(51, 101, 71, 0.75);
    box-shadow:         -2px 0px 4px 0px rgba(51, 101, 71, 0.75);
}


/* ????????????????????? parte destra */
footer .player_right{
        /* background-color: purple; */
    width: 30%;
    height: 100%;
}
footer .player_right ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
footer .player_right ul li{
    display: inline-block;
    text-align: right;
    list-style: none;
    margin:35px 0px;
}
footer .player_right ul:last-child li{
    margin-right: 0;
}
footer .player_right .progression{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 6px;
    background-color: #5a5a5a;
    border-radius: 3px;
    margin: 0 0 3px 3px;
}
footer .player_right .progression::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 25%;
    background-color: #c1c1c1;
    border-radius: 3px;
} 

/* !!!!!!!!!!!! Effetti player_right */
footer .player_right li:hover i{
    color: #adff2f;
}
footer .player_right #footer_volume:hover .progression::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 2px;
    right: 25%;
    height: 8px;
    width: 8px;
    z-index: 5;
    transform: scale(1.75);
    background-color: #adff2f;
    border-radius: 50%;
    -webkit-box-shadow: -2px 0px 4px 0px rgba(51, 101, 71, 0.75);
    -moz-box-shadow:    -2px 0px 4px 0px rgba(51, 101, 71, 0.75);
    box-shadow:         -2px 0px 4px 0px rgba(51, 101, 71, 0.75);
}

footer .player_right #footer_volume:hover .progression::before{
    background-color: #adff2f;
}

/* !      RESPONSIVE:                    */
/* !  approccio mobile first             */
/* !  XS =  552px                        */
/* !  S  =  639px                        */
/* !  M  =  878px                        */
/* !  L  =  1440px                       */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/*  XS = 552 px approccio mobile first*/
/*  XS = 552 px approccio mobile first*/


/* Da 100px a 552 PX */
@media screen and (min-width: 400px) and  (max-width:552px) {
    section{
        border: 5px solid white;
    }
    footer .player_left {
        width: 40%;
    }
    footer .song_info #song_title{
        font-size: 12px;
    }
    footer .song_info #song_author{
        font-size: 10px;
    }
    footer .player_left .song_action{
        width: 30px;
        text-align: left;
    }
    footer .player_middle{
        width: 50%;
    }
    footer .upper_player ul li{
        margin: 5px;
    }
    footer .player_middle  i{
        transform: scale(0.5);
    }
    footer .upper_player .fa-play-circle {
        transform: scale(1.2);
    }
    footer .player_middle .lower_player small {
        margin: 0;
    }
    footer .player_middle .lower_player .progression{
        width: 60%;
    }
    footer .player_right{
        width: 20%;
    }
    footer .player_right ul{
        display: flex;
        width: auto;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
    }    
    footer .player_right ul li{
        margin: 8px 0px;
    }
    footer .player_right #footer_volume{
        order: -1;
    }
    footer .player_right i{
        margin: 0 5px;
    }
    footer .player_right .progression{
        display: none;
    }
}

/*  S = 639 */
/* da 552 a 639 */
@media screen and (min-width: 553px) and (max-width:639px)  {
    section{
        border: 5px solid red;
    }
    footer .upper_player ul li {
        margin: 10px 5px;
    }
    footer .player_middle  i{
        transform: scale(0.7);
    }
    footer .upper_player .fa-play-circle {
        transform: scale(1.5);
    }
    footer .player_middle .progression{
        width: 50%;
    }
    footer .player_middle .lower_player small{
        margin: 0;
    }
    footer .player_right{
        width: 25%;
    }
    footer .player_right ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer .player_right ul li{
        margin:30px 0px;
    }
    footer .player_right #footer_volume{
        order: -1;
    }
    footer .player_right i{
        margin: 0 5px;
    }
    footer .player_right .progression{
        display: none;
    }
}

/*  M = 878px*/
@media screen and (min-width: 640px) and  (max-width:878px) {
    section{
        border: 5px solid blue;
    }
    footer .player_right ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer .player_right li#footer_volume{
        order: 1;
        width: 100%;
    }
    footer .player_right li.footer_icon{
        order: 2;
    }
    footer .player_right ul li{
        margin:10px 3px;
        text-align: left;
    }
    footer .player_right i{
        margin: 0 10px;
    }
    footer .player_right .progression{
        width: 65%;
        margin-right: -20px;
    }
}

/* XXS fino a 4000 */
@media screen and (max-width: 400px) {

    footer .player_left {
        width: 40%;
    }
    footer .song_info #song_title{
        font-size: 12px;
    }
    footer .song_info #song_author{
        font-size: 10px;
    }
    footer .player_left .song_action{
        width: 30px;
        text-align: left;
    }
    footer .player_left .folder{
        display: none;
    }
    footer .player_middle{
        width: 50%;
    }
    footer .upper_player ul li{
        margin: 3px;
    }
    footer .player_middle  i{
        transform: scale(0.5);
    }
    footer .upper_player .fa-play-circle {
        transform: scale(1.2);
    }
    footer .player_middle .lower_player small {
        margin: 0;
        font-size: 10px;
    }
    footer .player_middle .lower_player .progression{
        width: 55%;
    } 
    footer .player_right{
        width: 15%;
    }
    footer .player_right i{
        margin: 0 5px;
    }
    footer .player_right .progression{
        display: none;
    }
    footer .player_right ul{
        display: flex;
        width: auto;
        flex-direction: column-reverse;
        justify-content: center;
    }
    footer .player_right ul li{
        margin: 5px 0;
        text-align: center;
    }
    section{
        border: 5px solid plum;
    }
}

