/* Da sostituire */

main{
    background-color: #141922;
    margin: 90px 0 90px 230px;
}
section{
    margin: 20px;
        border: 5px solid violet;

}
h2{
    font-size: 17px;
    color: white;
    width: 100%;
    padding: 20px 0;
}
header{
    /* margin-top: 90px; */
    background-color: #141922;
}
header ul{
    display: flex;    
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}
header ul li { 
    position: relative;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    margin: 10px;
    padding: 5px;
    color: #7d7f84;
        border: 2px solid green;
}
header ul li:hover {
    color:white;
}

header ul li#evidenza::before{
    content: '';
    position: absolute;
    width: 40%;
    height: 5px; 
    background:  #adff2f;
    top: 0;
    left: 0;
    bottom: -45px;
    right: 0;
    margin: auto;
}

.song_slide{
        display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.song_box{
    display: block;
    height: 280px;
    width: calc(100%/6);
}
.song_box img {
    width: 100%;
}

/* !      RESPONSIVE:                    */
/* !  approccio mobile first             */
/* !  XS =  552px                        */
/* !  S  =  639px                        */
/* !  M  =  878px                        */
/* !  L  =  1440px                       */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/*  XS = 552 px approccio mobile first*/
@media screen and  (max-width:552px) {
    
    main{
        /* background-color: #141922; */
        margin: 90px 0 90px 50px;
    }
    
.song_slide{
    display: flex;
    flex-flow: row nowrap;
}
    .song_box{
        display: block;
        height: 280px;
        width: calc(100%/4);
    }

}

/*  S = 639 */
@media screen and  (max-width:639px) {

}

/*  M = 878px*/
@media screen and  (max-width:878px) {

}

/*  L = 1440 */
@media screen and  (max-width:1440px) {

}