/* Da sostituire */

main{
    background-color: #141922;
    padding: 90px 0 90px 230px;
    overflow: auto;
}

/*  *********************************** header  */
header{
    /* margin-top: 90px; */
    background-color: #141922;
}
header ul{
    display: flex;    
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}
header ul li { 
    position: relative;
    list-style: none;
    font-variant: unicase;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    color: #7d7f84;
    transition: 1s;
        /* border: 2px solid green; */
}
/* !!!!!!!!!!!!!!!! Effetti Header */
header ul li:hover {
    color:white;
    transform: scale(1.2);
}
header ul li#evidenza::before{
    content: '';
    position: absolute;
    width: 40%;
    height: 4px; 
    background:  #adff2f;
    top: 0;
    left: 0;
    bottom: -30px;
    right: 0;
    margin: auto;
}

/*  ************************************* main  */
section{
    margin: 20px;
        /* border: 5px solid violet; */
}
main h2{
    font-size: 18px;
    color: white;
    width: 100%;
    padding: 20px 0;
    text-transform: capitalize;
}
main .overlay_effect{
    position: absolute;
    top: 90px;
    left: 48%;
    transform: scale(2.5);
    color: white;
    opacity: 0;
}
main .about_song{
    width: 100%;
}

/*  ******************* section recently played */
main h3{
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    padding: 20px 0 15px 0;
}
main .song_box small {
    color:  #7d7f84;
    font-size: 12px;
}
main .song_slide{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-start;
}
main .song_box{
    max-width: 180px;
    width: calc(100% / 6); 
    position: relative;
    padding: 5px;
    text-align: center;
        /* border: turquoise 2px solid; */
}
main .song_box:hover {
    cursor: pointer;
}
main #recent .song_box:hover img, 
main #jump .song_box:hover img{
    opacity: 0.5;
}
main .song_box:hover .overlay_effect{
    opacity: 1;
    z-index: 10;
}
main .song_box img {
    width:100% ;
    max-width: 180px;
}
main .song_album {
    width: 180px;
    height: auto;
}

/* ******************************* section jump */
main #jump .song_slide, 
main #popular .song_slide{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}

/* **************************** section popular */
main #popular img{
    border-radius: 50%;    
}

/* !      RESPONSIVE:                    */
/* !  approccio mobile first             */
/* !  XS =  552px                        */
/* !  S  =  639px                        */
/* !  M  =  878px                        */
/* !  L  =  1440px                       */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/*  XS = 552 px approccio mobile first*/
/* Da 100px a 552 PX */
@media screen and (min-width: 100px) and  (max-width:552px) {
    /* section{
        border: 5px solid white;
    } */
    main{
        /* background-color: #141922; */
        padding: 90px 0 90px 50px;
    }
    main .song_slide{
        display: flex;
        flex-flow: row wrap;

    }
    main .song_box{
        flex: 50%;
    }
}

/*  S = 639 */
/* da 552 a 639 */
@media screen and (min-width: 553px) and (max-width:639px)  {
    /* section{
        border: 5px solid red;
    } */
    main .song_slide{
        display: flex;
        flex-flow: row wrap;
    }
    main .song_box{
        flex: 50%;
    }
}

/*  M = 878px*/
@media screen and (min-width: 640px) and  (max-width:878px) {
    /* section{
        border: 5px solid blue;
    } */
    .song_slide{
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
    }
    .song_box{
        flex: 25%;
        max-width: 25%;
    }
}

/*  L = 1440 */
/* @media screen and (min-width: 879px) and  (max-width:1440px) {
    section{
        border: 5px solid greenyellow;
    }
} */