@import "aside.css";
@import "main.css";
@import "footer.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
        /* border:1px solid  blue; */
}
body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body .banner_top {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 230px;
    right: 0;
    height: 90px;
    /* background-color: tomato; */
    background-color: rgba(8, 11, 18, 0.8);

    z-index: 10;
}
ul li{
    list-style: none;
}
body .btn_upgrade{
    color: white;
    background-color: unset;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 40px;
    border: 1px solid  white;
    border-radius: 23px;
    cursor: pointer;
    transition: 2s;
}
body .banner_top .btn_upgrade{
    margin-right: 20px;
}

/* !!!!!!!!!!!!! effetti banner_top */

/*  XS = 552 px approccio mobile first*/
@media screen and  (max-width:552px) {
    body .banner_top {
        left: 50px;
    }
}
@media screen and (max-height: 500px){
    body .banner_top {
        display: none;
    }
    main {
        padding: 0px 0 90px 230px;
    }
}
.empty{
    visibility: hidden;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #adff2f;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    background: #c8c8c8;
}
::-webkit-scrollbar-track{
    background: black;
    border-radius: 5px;
    box-shadow: inset 7px 10px 12px #000;
}

/* !      RESPONSIVE:                    */
/* !  approccio mobile first             */
/* !  XS =  552px                        */
/* !  S  =  639px                        */
/* !  M  =  878px                        */
/* !  L  =  1440px                       */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
